.Time {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    
    top: 0; left: 0; bottom: 0; right: ;
    
    font-family: courier, monospace;
    color: rgb(21, 216, 206);
    font-size: 80px;
}
.clock {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }